# Editor files
*~
.*.swp

# Build related files
Makefile
Makefile.in
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/build-aux
/config.log
/config.status
/configure
/libtool
/m4

# Subdir specific
perl/blib
perl/Makefile-pl
perl/Makefile-pl.old
perl/Makefile.PL
perl/pm_to_blib
/pod2htm?.tmp
/html

po/*.gmo
po/Makevars.template
po/POTFILES
po/remove-potcdate.sed
po/stamp-it
po/stamp-po
po/LINGUAS
po/Makefile.in.in
po/Makevars
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin

v2v/virt-v2v.1
