# Editor files
*~
.*.swp

# Build related files
/_build
/blib
/Build
/MANIFEST.bak
/META.yml
/virt-v2v*.tar.gz
/ChangeLog
/pod2htm?.tmp

/v2v/virt-v2v.1
/v2v/virt-v2v.conf.5

/snapshot/virt-snapshot.1
